[Unit]
Description=inga
Requires=inga.socket
After=network.target

[Service]
User=inga
Group=inga
ExecStart=/srv/inga/inga
Restart=always
RestartSec=1
NonBlocking=true

[Install]
WantedBy=multi-user.target
