# Example systemd unit file
# Run inga as a systemd unit
# Both an example, and the file we use to provide inga.shef.ac.uk

[Unit]
Description=inga
After=network.target

# Assumes various things are already setup:
# - user and group called inga;
# - binary executable at /srv/inga/inga;
# - binary must be blessed by setcap to bind to priviliged port;
# - certificate and private key for TLS in fullchain.pem and privkey.pem;
# - directory /mnt/data/inga for the log output;

[Service]
User={{ inga_user }}
Group={{ inga_group }}
Environment=INGA_PORT={{ inga_port }}
ExecStart=/srv/inga/tls-inga -cert /srv/inga/fullchain.pem -key /srv/inga/privkey.pem
LimitNOFILE=8800
Restart=always
RestartSec=1
WorkingDirectory={{ inga_working_dir }}

[Install]
WantedBy=multi-user.target
